.tabs {
    display: flex;
    flex-direction: row;
}

.tablinks {
    border: 1px solid lightgrey;
    outline: none;
    cursor: pointer;
    width: 25%;
    height: 80px;
    background-color: #effeff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tablinks span {
    z-index: 2;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #686868;
    transition: color 0.5s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper-tabcontent {
    background-color: #effeff;
    position: relative;
    top: 0;
    opacity: 1;
    padding: 40px 60px;
    overflow: hidden;
}

.tabcontent {
    display: block;
    min-height: 180px;
}

.tabcontent h3 {
    margin: 0;
    font-size: 40px;
    opacity: 0.1;
    padding: 0;
    animation: left 1s ease;
}

.tabcontent p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #686868;
    line-height: 28px;
    font-weight: 100;
    animation: right 0.6s ease;
}

@keyframes left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.1;
    }
}

@keyframes right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tablinks-active {
    position: relative;
    border-bottom: none;
    border-top: none;
    transition: color 0.3s ease;
}

.tablinks-active span {
    color: #000000;
}

.tablinks-active:hover span {
    color: #000000;
}

.tablinks-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    transform-origin: center top;
    transform: scaleY(0.05);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.tablinks-active:hover::before {
    transform: scaleY(1);
}

.tabcontent {
    display: none; 
}

.tabcontent-active {
    display: block;
}